
TccOpninionMining/old_trained_files/trained_file_a.bin

TccOpninionMining/old_trained_files/trained_file_b.bin

TccOpninionMining/old_trained_files/trained_file.bin

TccOpninionMining/\tweets.txt

TccOpninionMining/\tweets.txt
